.link {
    text-decoration: none;
    color: inherit; 
  }

  .link :hover {
    cursor: pointer;
  }

  .elementstyle {
    margin-top: 15px;
  }

  footer {
    background-color: rgb(51, 51, 51);
    color: rgb(230, 226, 226);
    height: auto;
  }